# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.env/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Test/coverage
.pytest_cache/
.coverage
htmlcov/